@import "../../index.scss";

.LeftComponent {
  @include themify($themes) {
    width: 100%;
    display: none;
    flex: 1.8;
    position: sticky;
    position: -webkit-sticky;
    top: 4rem;
    height: calc(100vh - 4rem);
    overflow-y: scroll;
    background-color: themed("bg");
    -webkit-box-shadow: 0px 1px 4px 1px rgba(159, 159, 159, 0.3);
    -moz-box-shadow: 0px 1px 4px 1px rgba(159, 159, 159, 0.3);
    box-shadow: rgba(159, 159, 159, 0.3);
    padding: 0.625rem 0;

    @include web {
      display: flex;
    }

    @include web-medium {
      display: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .container {
      width: 100%;
      padding: 0.625rem;

      hr {
        margin: 0.625rem 0;
        border: none;
        height: 0.5px;
        background-color: rgb(222, 218, 218);
      }

      .menu {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        Link a {
          text-decoration: none;
        }
        span {
          font-size: 12px;
          color: themed("textColorsoft");
        }

        .user {
          display: flex;
          align-items: center;
          gap: 0.625rem;
          cursor: pointer;
          padding: 0.625rem;

          .image {
            width: 2.7rem;
            height: 2.7rem;
            img {
              width: 2.7rem;
              height: 2.7rem;
              border-radius: 50%;
              object-fit: cover;
            }
          }

          span {
            font-size: 1rem;
            font-weight: 500;
            color: themed("textColor");
          }
        }
        .user:hover {
          background-color: themed("bgSoft");
          border-radius: 0.625rem;
        }

        .MenuItems {
          display: flex;
          align-items: center;
          gap: 0.625rem;
          cursor: pointer;
          padding: 0.625rem;

          img {
            width: 2.7rem;
            height: 2.7rem;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            font-size: 1rem;
            font-weight: 500;
            color: themed("textColor");
          }
        }
        .MenuItems:hover {
          background-color: themed("bgSoft");
          border-radius: 0.625rem;
        }
      }
    }
  }
}

.RightComponent {
  @include themify($themes) {
    // width: 100%;
    flex: 1.8;
    position: sticky;
    position: -webkit-sticky;
    top: 4rem;
    height: calc(100vh - 4rem);
    overflow-y: scroll;
    background-color: themed("bgSoft");
    display: none;
    overflow-x: hidden;

    @include surface-Pro {
      display: flex;
    }

    @include web {
      display: flex;
    }
    @include web-medium {
      display: flex;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .container {
      width: 100%;
      background-color: themed("bgSoft");
      margin: 0% 5%;
      padding: 1.25rem 0.625rem;

      .items {
        padding: 0.5rem;
        margin-bottom: 1.25rem;
        border-radius: 0.5rem;
        background-color: themed("bg");
        -webkit-box-shadow: 0px 1px 4px 1px rgba(159, 159, 159, 0.3);
        -moz-box-shadow: 0px 1px 4px 1px rgba(159, 159, 159, 0.3);
        box-shadow: rgba(159, 159, 159, 0.3);

        span {
          color: themed("textColorsoft");
          font-size: 12px;
        }

        .user {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0.625rem 0.325rem;
          padding: 0.625rem 0.625rem;
          cursor: pointer;

          .suggestedUserInfo {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.3rem;

            .info {
              display: flex;
              align-items: center;
              gap: 0.625rem;
              position: relative;
              cursor: pointer;

              .image {
                width: 2.7rem;
                height: 2.7rem;
                img {
                  width: 2.7rem;
                  height: 2.7rem;
                  border-radius: 50%;
                  object-fit: cover;
                }
              }

              span {
                font-size: 0.9rem;
                font-weight: 500;
                color: themed("textColor");
                margin-left: 2.3%;
              }
            }
            .buttons {
              display: flex;
              align-items: center;

              justify-content: flex-end;
              gap: 0.625rem;

              button {
                width: 37%;
                height: 2rem;
                font-size: 0.9rem;
                font-weight: 600;
                border: none;
                border-radius: 0.3rem;
                padding: 5px;
                color: themed("textColor");
                cursor: pointer;

                &:first-child {
                  background-color: themed("btnColor");
                }

                &:last-child {
     
                  border:2px solid themed("btnBorder") ;
                  background-color:transparent;
                   &:hover {
                    background-color: rgb(165, 43, 43, 0.7);
                    color: rgb(228, 22, 22);
                  }
                }
              }
            }
          }
          .userInfo {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 15px;
            position: relative;

            img {
              width: 2.7rem;
              height: 2.7rem;
              border-radius: 50%;
              object-fit: cover;
            }

            .online {
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background-color: rgb(52, 208, 52);
              position: absolute;
              top: 0;
              left: 30px;
            }
            p {
              font-size: 12px;
              color: rgb(137, 137, 137);
            }
            span {
              font-size: 1rem;
              font-weight: 500;
              color: themed("textColor");
            }
            .time {
              display: flex;
              margin-right: 1.25rem;
              span {
                font-size: 12px;
                color: themed("textColorsoft");
              }
            }
          }
        }
        .user:hover {
          border-radius: 0.625rem;
          background-color: themed("bgSoft");
        }
      }
    }
  }
}
