@import "../../index.scss";

$header-height: 4rem;
$nav-height: 3rem;
$nav-padding: 0.5rem;

.header {
  @include themify($themes) {
    width: 100%;
    height: #{$header-height};
    background-color: themed("bg");
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 99;
    color: themed("textColor");
    @include tab {
      font-size: 3rem;
    }
    @include web {
      height: #{$header-height};
    }

    @include web-large {
      height: #{$header-height};
    }

    .nav {
      font-family: "Signika Negative", sans-serif;
      width: 97%;
      height: 3rem;
      display: flex;
      align-items: center;
      // justify-content: space-between;
      padding: 0 $nav-padding 0 $nav-padding;

      @include tab {
        font-size: 3rem;
      }
      @include web {
        height: #{$nav-height};
      }

      @include web-large {
        height: #{$nav-height};
      }

      a {
        text-decoration: none;
        color: themed(logo);
      }
      a:active,
      a:focus {
        color: themed(logo);
      }
      span {
        flex: 1;
        font-size: 1rem;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        color: themed(logo);

        @include tab {
          font-size: 1.7rem;
        }
        @include web {
          font-size: 1.7rem;
        }

        @include web-large {
          font-size: 1.7rem;
        }
      }

      .Left-buttons {
        flex: 3;
        display: flex;
        gap: 0.9375rem;
        padding: 0.3125rem;

        // @include mobile {
        //   display: flex;
        //   justify-content: space-between;
        //   gap: 1.875rem;
        // }

        // @include tab {
        //   gap: 0.3125rem;
        // }

        //  font-size: 1.7rem;
        //   font-family: "Montserrat", sans-serif;
        //   font-weight: 700;
        //   color: themed(logo);

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 2rem;
          border-radius: 0.4375rem;
          font-size: 1rem;
          border: none;
          background-color: transparent;
          cursor: pointer;
          color: themed("textColor");

          @include surface-duo {
            width: 2.2rem;
            font-size: 1.7rem;
            width: 3rem;
          }
          @include tab {
            width: 2.5rem;
            font-size: 1.7rem;
            width: 3rem;
          }
          @include web {
            width: 2.5rem;
            font-size: 1.7rem;
            width: 3rem;
          }

          @include web-large {
            width: 2.5rem;
            font-size: 1.7rem;
            width: 3rem;
          }
        }

        button:hover {
          background-color: rgb(187, 187, 187);
        }

        .search {
          // height: 1.3rem;
          display: flex;
          align-items: center;
          border: 0.125rem solid rgb(145, 143, 143);
          gap: 0.3125rem;
          border-radius: 0.4375rem;
          padding: 0 0.3125rem;

          .search-icon {
            font-size: 1rem;
            @include tab {
              font-size: 1.7rem;
            }
            @include surface-Pro {
              font-size: 1.7rem;
            }
            @include web {
              font-size: 1.7rem;
            }
            @include web-large {
              font-size: 1.7rem;
            }
          }
          input {
            display: none;
            height: 1.7rem;
            border: none;

            width: 20rem;
            background-color: transparent;
            color: themed("textColor");

            @include web {
              display: flex;
            }
            @include web-large {
              display: flex;
            }
          }

          input:focus {
            outline: none;
          }
        }
      }

      .Right-buttons {
        display: none;

        @include web {
          display: flex;
          justify-content: flex-end;
          flex: 2;
        }
        @include tab {
          display: flex;
          flex: 1.5;
          gap: 0.9375rem;
        }
        // @include web-large {
        //   display: flex;
        //   justify-content: flex-end;
        // }
        div {
          display: flex;
          flex-direction: column;
          button {
            width: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.8rem;
            border: none;
            border-radius: 0.4375rem;
            background-color: transparent;
            cursor: pointer;
            color: themed("textColor");
          }

          button:hover {
            background-color: rgb(187, 187, 187);
          }

          .Aside {
            display: flex;
            justify-content: flex-end;
            width: 95%;
            background-color: themed("bg");
            position: absolute;
            top: 4rem;
            right: 0%;
            left: 2.5%;
            bottom: 0%;
            border-radius: 0.5rem;

            -webkit-box-shadow: 0px 1px 4px 1px rgba(159, 159, 159, 0.3);
            -moz-box-shadow: 0px 1px 4px 1px rgba(159, 159, 159, 0.3);
            box-shadow: rgba(159, 159, 159, 0.3);
            visibility: hidden;
          }
          .Aside.active {
            visibility: visible;
          }
        }
      }
      .user {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.3125rem;
        cursor: pointer;

        .Aside {
          display: flex;
          justify-content: flex-end;
          width: 95%;
          // height: max-content;
          background-color: themed("bg");
          position: absolute;
          top: 4rem;
          right: 0;
          left: 2.5%;
          bottom: 0%;
          visibility: hidden;
          -webkit-box-shadow: 0px 1px 4px 1px rgba(159, 159, 159, 0.6);
          -moz-box-shadow: 0px 1px 4px 1px rgba(159, 159, 159, 0.6);
          box-shadow: rgba(159, 159, 159, 0.6);
        }
        .Aside.active {
          visibility: visible;
        }

        img {
          width: 2.2rem;
          height: 2.2rem;
          border-radius: 50%;
          object-fit: cover;

          @include tab {
            width: 3rem;
            height: 3rem;
          }
          @include surface-Pro {
            width: 3rem;
            height: 3rem;
          }
          @include web {
            width: 3rem;
            height: 3rem;
          }
          @include web-large {
            width: 3rem;
            height: 3rem;
          }
        }

        span {
          font-weight: 500;
        }
      }
    }
  }
}
